<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COderweb</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg- fixed-top" id="mainNav" style="padding: 1rem; background-color:black;">
    <div class="container" style="margin:0px;">
      <a class="navbar-brand"  style="color:white">ON_THE_GO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
<!--      to add if not logged in condition      -->
            <a class="nav-link" >Home</a>
          </li>
<!--        {% if not logged_in %}-->
          <li class="nav-item">
            <a class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Register</a>
          </li>
<!--        {% endif %}-->
          <li class="nav-item">
            <a class="nav-link">Log Out</a>
          </li>

          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class='carousel-item active data-bs-interval = "2000"'>
      <img src="/static/wallpaperflare.com_wallpaper.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Plan trips in advance.</h5>
        <p>Routes, destinations, you name it- we have it all.</p>
      </div>
    </div>
    <div class='carousel-item data-bs-interval = "2000"'>
      <img src="/static/top-view-circular-food-frame.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Order food at your convenience.</h5>
        <p>Traditional recipes and ingredients, to bring you the rich and diverse flavors of rural India right at your doorstep.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/peakpx.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Support Indian businesses.</h5>
        <p>Contribute towards the growth and sustainability of local communities.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  </div>


<div class="customer-testimonial-section">

    <p style="font-weight:bold; padding:200px;">Unsure? See what other people have to say about us.</p>

    <div class="row row-cols-1 row-cols-md-2 g-4" style="margin-left:50px; margin-right:50px;">
  <div class="col" style="margin: 20px 20px auto 20px; width:500px;">
    <div class="card">
      <img src="/static/harshaedit2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Harsha</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col" style="margin: 20px 20px auto 250px; width:500px;">
    <div class="card">
      <img src="/static/tahaedit.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Taha</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col" style="margin: 50px 20px auto 20px; width:500px;">
    <div class="card">
      <img src="/static/dhanushedit.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dhanush</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col" style="margin: 50px 20px auto 250px; width:500px;">
    <div class="card">
      <img src="/static/krish.jpg" class="card-img-top" alt="..." style="height:400px;">
      <div class="card-body">
        <h5 class="card-title">Krish</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
  <hr>
    <div class="in_touch" style="height:1000px;
                background-image: url('/static/386749.jpg');


  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}">
    <h3 style="padding:200px;">Intrigued yet?</h3>
    <p>Go on, don't be shy. Try it, just a little bit.</p>
    <a class="btn" href="mailto:name@email.com">TRY IT OUT YOURSELF!</a>
        </div>
    <div class="bottom-container">
        <p>© 2023 Fourier Migraine.</p>
        <p>Harsha || Krish || Taha </p>
  <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/krishh_19">Twitter</a>
  <a class="footer-link" href="https://instagram.com//krishhashia">Instagram</a>
</div>
</div>



</body>


</html>